@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');


.cash-text {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 193px;
    text-align: center;
}