body {
    background-color: black;
    color: white;
    position: relative;
    background-image: url('resources/Frame1.png');
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    z-index: 0;
  }
  
  
  